@charset "utf-8";
/* CSS Document */


body {
    margin: 0;
    padding: 0;
    text-align: center;
	background-image: url(../pix/bg.jpg);
	background-repeat: repeat-x;
	background-color: #0d0d0d;
}




#worldmap {
	width:1280px;
	height:720px;
	margin: 0 auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FF0;
	background-image:url(../pix/worldmap.jpg);
	z-index:1;
	
}


#logo { background-image:url(../pix/logo.png);
     width:336px;
	 height:31px;
	z-index:2;
	position:relative;
	top:534px;
	left:12px;
}


#player {
	width: 325px;
	height:60px;
	z-index:3;
	position:relative;
	top:-180px;
	left:5px;
}



div.jp-interface {
	position: relative;
	float:left;
	background-color:none;
	width:400px;
	height:60px;
}



#playlist {
	position:relative;
	top:457px;
	left:570px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FF0;
	z-index:2;
	text-align:left;
}

#NOW {
	font-weight:bold;
}

#menu {
	position:relative;
	top:379px;
	left:450px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FF0;
	z-index:2;
	text-align:left;
	background-color:#000;
	width:78px;
	height:72px;
	padding:4px;
	border:0;
	
}

#menuabout {
	position:relative;
	top:-200px;
	left:450px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:2;
	width:520px;
	height:460px;
	background-color:#FF0;
	visibility:hidden;
	text-align:left;
	padding-left:15px;
}

#close { width:41px;
height:36px;
position: relative;
    left: 472px;
}

tdstil
{
padding-left:30px;
}

.nowtd{
padding-left:20px;
}

.citylandtd{
padding-left:4px;
}

.citylandnowtd{
padding-left:5px;
}
*/

/* Font */

.vorsage {
	font-size:15px;
	color:#FF0;
         }

.vorsagenow {
	font-size:15px;
	font-weight:bold;
         }

.kommannow {
	font-size:15px;
	font-weight:bold;
         }

.cityland {
	font-size:15px;
	      }
		  
.citylandnow {
	font-size:15px;
	font-weight:bold;
	      }




/* Menulinks */


a.menu:link {
	          font-size:13px;
	          color:#FF0; text-decoration:none;

			  }      
a.menu:visited {
	          font-size:13px;
	          color:#FF0;
			  color:#FF0; text-decoration:none;
			 
			  }  
a.menu:hover {
	           font-size:13px;
	           font-weight:bold;
	           color:#FF0;
			   color:#FF0; text-decoration:none;
			   
			   }  
a.menu:active {
	            font-size:13px;
	            font-weight:bold;
	            color:#FF0;
				color:#FF0; text-decoration:none;
				
				}



/* Radiolinks */
a.radio:link {
	          font-size:15px;
	          color:#FF0; 
			  text-decoration:underline;
			  }      
a.radio:visited {
	          font-size:15px;
	          color:#FF0;
			  text-decoration:underline;
			  }  
a.radio:hover {
	           font-size:15px;
	           font-weight:bold;
	           color:#FF0;
			   text-decoration:underline;
			   }  
a.radio:active {
	            font-size:15px;
	            font-weight:bold;
	            color:#FF0;
				text-decoration:underline;
				}
/* Radiolinks Now */	
a.radionow:link {
	          font-size:15px;
	          font-weight:bold;
	          color:#FF0;
			  }      
a.radionow:visited {
	             font-size:15px;
	             font-weight:bold;
	             color:#FF0;
				 text-decoration:underline;
				 }  
a.radionow:hover {
	           font-size:15px;
	           font-weight:bold;
	           color:#FF0;
			   text-decoration:underline;
			   }  
a.radionow:active {
	            font-size:15px;
	            font-weight:bold;
	            color:#FF0;
				text-decoration:underline;
				}
				
