@charset "utf-8";
/* CSS Document */


body {
	width:100%;
	margin: 0;
	background-image: url(../pix/bg.jpg);
	background-repeat: repeat-x;
	background-color: #0d0d0d;
}

/* Hauptcontainer, welcher Elemente enthält */
#main {
	position:relative;
	width:1280px;
	height:720px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	color:#FF0;
	margin:auto;
}

#worldmap {
	position:absolute;
	width:1280px;
	height:720px;
	background-image:url(../pix/worldmap.jpg);
}

#logo {
	position:absolute;
	top:430px;
	left:12px;
	width:336px;
	height:31px;
	background-image:url(../pix/logo.png);
}

#player {
	position:absolute;
	top:506px;
	left:5px;
	width: 325px;
	height:60px;
}

#playlist {
	position:absolute;
	top:510px;
	left:600px;
}

#playlist td {
	padding-right:15px;
}

#playlist tr {
	height:22px;	
}

#NOW {
	font-weight:bold;
}

td.pl_title {
	font-size:12px;
}

#menu {
	position:absolute;
	top:506px;
	left:450px;
	text-align:left;
	background-color:#000;
	padding:4px;
	border:0;
	
}

#menu tr {
        height:22px; 
}

#menuabout {
	position:absolute;
	top:20px;
	left:450px;
	width:520px;
	height:450px;
	font-size:12px;
	color:#000;
	background-color:#FF0;
	visibility:hidden;
	padding:15px;
}

#close {
	position: relative;
	left: 472px;
	width:41px;
	height:36px;
}

#location {
	position:relative;
	width:90px;
	height:90px;
}

#aussenden {
	position:relative;
	top:-45px;
	left:-45px;
}

a {
	color:#ff0;
}

a:hover {
	font-weight:bold;
}

a.menu {
	font-size:12px;
	text-decoration:none;
}
