@charset "utf-8";
/* CSS Document */


body {
	margin: 0;
	background-image: url(../pix/bg.jpg);
	background-repeat: repeat-x;
	background-color: #0d0d0d;
}

/* Hauptcontainer, welcher Elemente enthält */
#main {
	position:relative;
	left:0px;
	width:1280px;
	height:720px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	color:#FF0;
}

#worldmap {
	position:absolute;
	width:1280px;
	height:720px;
	background-image:url(../pix/worldmap.jpg);
}

#logo {
	position:absolute;
	top:534px;
	left:12px;
	width:336px;
	height:31px;
	background-image:url(../pix/logo.png);
}

#player {
	position:absolute;
	top:180px;
	left:5px;
	width: 325px;
	height:60px;
}

#playlist {
	position:absolute;
	top:0px;
	left:0px;
}

#NOW {
	font-weight:bold;
}

#menu {
	position:absolute;
	top:379px;
	left:450px;
	text-align:left;
	background-color:#000;
	padding:4px;
	border:0;
	
}

#menuabout {
	position:absolute;
	top:200px;
	left:450px;
	width:520px;
	height:460px;
	font-size:12px;
	color:#000;
	background-color:#FF0;
	visibility:hidden;
	padding-left:15px;
}

#close {
	position: relative;
	left: 472px;
	width:41px;
	height:36px;
}

#location {
	position:relative;
	width:90px;
	height:90px;
}

#aussenden {
	position:relative;
	top:-45px;
	left:-45px;
}

/*
tdstil
{
padding-left:30px;
}

.nowtd{
padding-left:20px;
}

.citylandtd{
padding-left:4px;
}

.citylandnowtd{
padding-left:5px;
}


.vorsage {
	font-size:15px;
	color:#FF0;
         }

.vorsagenow {
	font-size:15px;
	font-weight:bold;
         }

.kommannow {
	font-size:15px;
	font-weight:bold;
         }

.cityland {
	font-size:15px;
	      }
		  
.citylandnow {
	font-size:15px;
	font-weight:bold;
	      }






a.menu:link {
	          font-size:13px;
	          color:#FF0; text-decoration:none;

			  }      
a.menu:visited {
	          font-size:13px;
	          color:#FF0;
			  color:#FF0; text-decoration:none;
			 
			  }  
a.menu:hover {
	           font-size:13px;
	           font-weight:bold;
	           color:#FF0;
			   color:#FF0; text-decoration:none;
			   
			   }  
a.menu:active {
	            font-size:13px;
	            font-weight:bold;
	            color:#FF0;
				color:#FF0; text-decoration:none;
				
				}

a.radio:link {
	          font-size:15px;
	          color:#FF0; 
			  text-decoration:underline;
			  }      
a.radio:visited {
	          font-size:15px;
	          color:#FF0;
			  text-decoration:underline;
			  }  
a.radio:hover {
	           font-size:15px;
	           font-weight:bold;
	           color:#FF0;
			   text-decoration:underline;
			   }  
a.radio:active {
	            font-size:15px;
	            font-weight:bold;
	            color:#FF0;
				text-decoration:underline;
				}
a.radionow:link {
	          font-size:15px;
	          font-weight:bold;
	          color:#FF0;
			  }      
a.radionow:visited {
	             font-size:15px;
	             font-weight:bold;
	             color:#FF0;
				 text-decoration:underline;
				 }  
a.radionow:hover {
	           font-size:15px;
	           font-weight:bold;
	           color:#FF0;
			   text-decoration:underline;
			   }  
a.radionow:active {
	            font-size:15px;
	            font-weight:bold;
	            color:#FF0;
				text-decoration:underline;
				}
*/
				
