#worldmap {
	background: url("img/world_850_410_2.png") 0 0 no-repeat;
	width:850px;
	height:410px;
}
#location {
	position:relative;
	width:30px;
	height:30px;
}
.fig {
	float:left;
	margin-right:30px;
	}
