#worldmap {
	background: url("img/world_850_410.png") 0 0 no-repeat;
	width:850px;
	height:410px;
}
#location {
	position:relative;
	width:30px;
	height:30px;
}
#point {
	width:2px;
	height:2px;
	background-color:#f00;
}
